/* html{
    min-height: 100vh;
} */

body{
    /* min-height: 100vh; */
    background-color: #f2f4f8;
}

.container-fluid{
    position: relative;
    min-height: 100vh;
}

h3{
    color:white;
}

body::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}  

body::-webkit-scrollbar-track {
    background: whitesmoke;        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #00306fc5;    /* color of the scroll thumb */
    /* border-radius: 20px;    */
    border: 3px solid white;  
}

#passwords-view .container-fluid{
    padding-left: 10.5rem;
    padding-right: 3.25rem;
}

#accounts-view .container-fluid{
    width: 80%;
    padding-left: 8rem;
}

.card{
    justify-content: center;
    border: 2.5px solid #00306fa2;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
    text-align: center;
    min-height:200px;
}

.card:hover{
    transform: scale(1.02);
}

.card .card-body{
    border-radius: 15px;
    padding-top: 5px;
    font-size: 2rem;
    background-color: white;
    color: black;
}

input[type=text],
input[type=password],
input[type=text]:focus,
input[type=password]:focus,
input[type=text]:disabled,
input[type=password]:disabled{
    border-radius: 0;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00306f;
    outline: none;
    background: none;
    box-shadow: none;
}

.header{
    display: flex;
    justify-content: center;
}

.list-icon-wrapper,
.info-icon-wrapper{
    color: #00306f;
    display: flex;
    align-items: center;
    padding: .20rem;
    background-color: white ;
    width: 2.25rem; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
    border-radius: 5px;
    border: 2.5px solid #00306fa2;

}

.list-icon-wrapper{
    height: 40px;
    position: fixed;
    left: 170px;
    z-index: 10;
}

.list-icon-wrapper:hover,
.info-icon-wrapper:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.list-icon,
.info-icon{
    width: 100%;
    font-size: 1.25rem;
}

.bi-search{
    color: rgba(48, 47, 47, 0.534);
    position: relative;
    left: 2.5rem;
}
.search-wrapper{
    margin-left: auto;
}

#search::placeholder{
    color: rgba(48, 47, 47, 0.534);
    font-size: 0.85rem;
}

#search{
    width: 17vw;
    min-width: 15rem;
    height: 2.5rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 30px;
    border-bottom: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
}

#search:focus::placeholder {
    color: transparent;
}

.web-password{
    margin-top: 20px;
}

.card-header-buttons{
    position: relative;
    top: 8px;

    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.arrow-icon-container,
.delete-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    color: #00306f;
}

.bi-x{
    font-size: 1.8rem;
}

.bi-arrow-counterclockwise{
    font-size: 1.3rem;
}


.arrow-icon-container:hover,
.delete-icon-container:hover{
    cursor: pointer;
    background-color: #f2f4f8;
    border:solid 1.5px #00306f;
}

/* .bi-x:hover,
.bi-arrow-counterclockwise:hover{
    cursor: pointer;
    transform: scale(1.1);
} */

/* .bi-x:not(.close-info-icon){
    position: relative;
    left: 1rem;
    top: -.15rem;
    color: #00306f;
    font-size: 1.65rem;
} */

.btn-primary{
    background-color: #00306f;
    border: none;
}

.btn-primary:hover{
    background-color: #074596;
}

.eye{
    color: #00306f;
    font-size: 1.4rem;
    float: right;
    position: relative;
    top: -35px;
    left: -30px;
}

.eye:hover,
.clipboard:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#new-password-eye{
    font-size: 1.25rem;
    top: -30px;
    left: -10px;
}

.clipboard{
    color: #00306f;
    font-size: 1.25rem;
    float: right;
    position: relative;
    top: -35px;
    left: 20px;
}

.strength-meter{
    padding: 0;
    font-size:0.5rem; 
}

.card .popup{
    color: white;
    position: absolute;
    /* top: 20px; */
    left: -10px; 
    width:100px;
    opacity: 0;
    margin-top: 0;
    margin-left: 0px;
    background: #00306f;
    font-size: 13px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    /* transition: 
        top 200ms ease-out,
        opacity 200ms ease-out; */
}

.card .popup::before{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: #00306f;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.strength-meter:hover .popup{
    top: -15px;
    opacity: 1;
}


.bi-circle-fill{
    color: #00306f;
}

#c1{
    position: absolute;
    top:20px;
    left:15px;
}

#c2{
    position: absolute;
    top:20px;
    left:30px;
}

#c3{
    position: absolute;
    top:20px;
    left:45px;
}

#c4{
    position: absolute;
    top:20px;
    left:60px;
}

.account-container{
    height: 100vh;
}

.account-form-container{
    margin-top: 1.5rem;
    width: 50%;
    height: 4rem;
}

#accounts-view input{
    height: auto;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
    border-radius: 20px;
    border-bottom: 0;
}

#accounts-view .account-eye{
    cursor: pointer;
    color: #00306f;
    font-size: 1.4rem;
    float: right;
    position: relative;
    top: -2.75rem;
    left: -.85rem;
}

.info-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.close-button-wrapper{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
    border-radius: 30%;
    height: 1.75rem;
    width: 1.75rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-info-icon{
    font-size: 1.5rem;
}

#me h6{
    display: inline-block;
}

#me .bi-heart-fill{
    color: #00306f;
}

.list{
    display: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border: 2.5px solid #00306fa2;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
    /* text-align: center; */
}

.list-title{
    margin: 0;
}
.list-password{
    margin-top: 0;
}

.list-buttons-row{
    margin-top: 0.5rem;
}

.list-eye,
.list-clipboard{
    color: #00306f;
    font-size: 1.4rem;
}

.list-password{
    text-align: center;
}

.list-eye-button,
.list-clipboard-button{
    height: 2.15rem;
    width: 2.15rem;
    background-color: #f2f4f8;
    border-radius: 100%;
}

.list-eye-button:hover,
.list-clipboard-button:hover,
.close-button-wrapper:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

.notification-wrapper{
    min-width: 20rem;
    max-width: 25%;
    padding: 0.2rem;
    position: fixed;
    bottom: 2rem;
}

.notification{
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219) ;
    padding: 1rem;
    flex-direction: column;
    border: 1.5px solid #074596;
    border-radius: 5px;
    /* color: black; */
}

.notif-header{
    color: grey;
    font-size: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1.5px solid black;
}

.notif-title{
    margin-right: auto;
    display: flex;
    align-items: center;
}

.notif-close{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.notif-close .bi-x-circle{
    font-size: 1.2rem;
}

.notif-body{
    padding: 1rem 0 0;
}

.bmc-button{
    display: flex;
    justify-content: center;
}


.add-password-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.add-password-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vw;

    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background-color: #00306f;

    min-width: 50px;
    min-height: 50px;

    max-width: 85px;
    max-height: 85px;

    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    box-shadow: 2px 3px 3px#00000052 ;

    z-index: 20;
}
