html{
    height: 100vh;
}

body{
    background-color: #f2f4f8;
}


h3{
    color:white;
}

body::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}  

body::-webkit-scrollbar-track {
    background: whitesmoke;        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #00306fc5;    /* color of the scroll thumb */
    /* border-radius: 20px;    */
    border: 3px solid white;  
}

#passwords-view .container-fluid{
    padding-left: 10.5rem;
    padding-right: 5rem;
}

#accounts-view .container-fluid{
    width: 80%;
    padding-left: 8rem;
}

.card{
    border: 2.5px solid #00306fa2;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
    text-align: center;
    height:250px;
}

.card:hover{
    transform: scale(1.02);
}

.card .card-body{
    border-radius: 15px;
    padding-top: 5px;
    font-size: 2rem;
    background-color: white;
    color: black;
}

input[type=text],
input[type=password],
input[type=text]:focus,
input[type=password]:focus,
input[type=text]:disabled,
input[type=password]:disabled{
    border-radius: 0;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00306f;
    outline: none;
    background: none;
    box-shadow: none;
}

.header{
    display: flex;
    justify-content: center;
}

.list-icon-wrapper{
    /* margin-right: auto; */
    padding: .20rem;
    background-color: white ;
    /* height: 1.5rem; */
    width: 2.25rem; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
    border-radius: 5px;
}

.list-icon-wrapper:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.list-icon{
    font-size: 1.25rem;
}

.bi-search{
    color: rgba(48, 47, 47, 0.534);
    position: relative;
    left: 2.5rem;
}
.search-wrapper{
    margin-left: auto;
}

#search::placeholder{
    color: rgba(48, 47, 47, 0.534);
    font-size: 0.85rem;
}

#search{
    width: 17vw;
    min-width: 15rem;
    height: 2.5rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 30px;
    border-bottom: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
}

#search:focus::placeholder {
    color: transparent;
}

.web-password{
    margin-top: 20px;
}

.bi-arrow-counterclockwise{
    color: #00306f;
    position: relative;
    left: 1rem;
    top: -.25rem;
    font-size: 1.25rem;
}

.bi-x:hover,
.bi-arrow-counterclockwise:hover{
    /* color: #00306f; */
    cursor: pointer;
    
}

.bi-x{
    position: relative;
    left: 1rem;
    top: -.15rem;
    color: #00306f;
    font-size: 1.65rem;
}

.btn-primary{
    background-color: #00306f;
    border: none;
}

.btn-primary:hover{
    background-color: #074596;
}

.eye{
    color: #00306f;
    font-size: 1.4rem;
    float: right;
    position: relative;
    top: -35px;
    left: -30px;
}

.eye:hover,
.clipboard:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#new-password-eye{
    font-size: 1.25rem;
    top: -30px;
    left: -10px;
}

.clipboard{
    color: #00306f;
    font-size: 1.25rem;
    float: right;
    position: relative;
    top: -35px;
    left: 20px;
}

.strength-meter{
    font-size:0.5rem; 
}

.card .popup{
    color: white;
    position: absolute;
    top: -7px;
    left: -10px; 
    width:100px;
    opacity: 0;
    margin-top: 0;
    margin-left: 0px;
    background: #00306f;
    font-size: 13px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: 
        top 200ms ease-out,
        opacity 200ms ease-out;
}

.card .popup::before{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: #00306f;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.strength-meter:hover .popup{
    top: -15px;
    opacity: 1;
}


.bi-circle-fill{
    color: #00306f;
}

#c1{
    position: absolute;
    top:20px;
    left:15px;
}

#c2{
    position: absolute;
    top:20px;
    left:30px;
}

#c3{
    position: absolute;
    top:20px;
    left:45px;
}

#c4{
    position: absolute;
    top:20px;
    left:60px;
}

.account-container{
    height: 100vh;
}

.account-form-container{
    margin-top: 1.5rem;
    width: 50%;
    height: 4rem;
}

#accounts-view input{
    height: auto;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
    border-radius: 20px;
    border-bottom: 0;
}

#accounts-view .account-eye{
    cursor: pointer;
    color: #00306f;
    font-size: 1.4rem;
    float: right;
    position: relative;
    top: -2.75rem;
    left: -.85rem;
}

.info-container{
    padding-left: 8rem;
    padding-top: 25vh;
}

#me h6{
    display: inline-block;
}

#me .bi-heart-fill{
    color: #00306f;
}

.list{
    display: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border: 2.5px solid #00306fa2;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137) ;
    /* text-align: center; */
}

.list-title{
    margin: 0;
}
.list-password{
    margin-top: 0;
}

.list-buttons-row{
    margin-top: 0.5rem;
}

.list-eye,
.list-clipboard{
    color: #00306f;
    font-size: 1.4rem;
}

.list-password{
    text-align: center;
}

.list-eye-button,
.list-clipboard-button{
    height: 2.15rem;
    width: 2.15rem;
    background-color: #f2f4f8;
    border-radius: 100%;
}

.list-eye-button:hover,
.list-clipboard-button:hover
{
    transform: scale(1.1);
    cursor: pointer;
}


