html,
body{
    background-color: #36393f;
    animation: fade 0.25s ease-out;
}

@keyframes fade{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.container{
    padding-top: 1.5rem;
}

h5,h1{
    color: white;
}

.eye{
    font-size: 1.4rem;
    position: relative;
    top: -85px;
    left: 225px; 
}

.eye:hover
{
    cursor: pointer;
    transform: scale(1.3);
}