<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../../src/styles/updatePassStyle.css" rel="stylesheet">
    <title>Update Password</title>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <h5>Update password for</h5><br/>
            <h1 id='website_name'><%= website %></h1>
            <form id="update-password-form">
                <!-- <div class="form-group p-2">
                    <input type="text" name="website" disabled class="form-control update-password-req" placeholder="Website"/>
                </div> -->
                <div class="form-group p-2">
                    <input type="password" name="password" class="form-control update-password-req" placeholder="Password"/>
                </div>
                <div class="row justify-content-center mt-1">
                    <div class="col-5">
                        <input type="button" id="cancel" class="form-control btn btn-primary" value="Cancel"/>
                    </div>
                    <div class="col-5">
                        <input type="submit" class="form-control btn btn-primary" value="Submit"/>
                    </div>
                </div>
                <i id='update-password-eye' class="bi bi-eye eye"></i>
            </form>
        </div>
    </div>
    </div>
</body>
<script src="../updatePass.js"></script>
</html>